.tabContainer {
    display: flex;
}

.tabButton {
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 0px;
    color: white;
    margin: 0 5px;
    font-size: 16px;
    transition: border-color 0.3s ease, opacity 0.3s ease;
    opacity: 50%;
}

.tabButton.active {
    border-bottom: 2px solid #FFFFFF;
    opacity: 100%;
}

.tabButton:hover {
    opacity: 100%;
}

.profileContent {
    width: 100%;
    box-sizing: border-box;
}

.tabPanel {
    width: 100%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.deletePostButton {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 5px;
   
  }
  
  .deletePostButton:hover {
    background-color: #ff1a1a;
  }
  
  .belowPost {
    display: flex;
    justify-content: flex-end;
  }




.profilePicture {
    border: 2px solid #2EC4B6;
    border-radius: 12px;
    width: 90px;
    height: 90px;
    margin: 35px;
    margin-left: 0px;
}

.profileCube {
    margin: 8px;
    margin-left: -12px;
    scale: 60%;
}

.post {
    display: flex;
    justify-content: space-between;
    
    border-radius: 12px;
    width: 100%;
}

.titleAndContent {
    display: flex;
    flex-direction: column;
}

.dateAndName {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.postDate {
    color: #c2c2c2;
    opacity: 85%;
    margin-left: auto;
    padding: 8px;
}

.postNameAndPicture {
    display: flex;
    justify-content: right;
    align-items: center;
}

.profilePicturePost {
    border: 2px solid #2EC4B6;
    border-radius: 8px;
    width: 34px;
    height: 34px;
    margin: 8px;
}

.postNameCube {
    scale: 25%;
    margin-right: 31px;
    margin-top: -42px;
}

.postCube {
    scale: 50%;
}

.postTitle {
    display: flex;
    align-items: center;
    height: 100px;
}

.titleText {
    width: 100%;
    font-size: 18pt;
    font-weight: 500;
    white-space: nowrap;
}

.postTitleCube {
    width: 75%;
    height: 75%;
    scale: 50%;
    margin-top: 20px;
}

.postName {
    align-content: center;
}

.profileName {
    font-size: 30pt;
    font-weight: bold;
    margin-top: 50px;
    white-space: nowrap;
}

.profileUsername {
    opacity: 50%;
}

.profileHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #c2c2c2;
    height: 120px;
    margin: 5px;
}

.profileAndName {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
}

.profileNameAndUsername {
    display: flex;
    flex-direction: column;
}

.profileContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: 100%;
}

.profileStats {
    width: 250px;
    height: 90px;
    margin: 35px;
    margin-right: 0px;
    background-color: transparent;
    border: 2px solid #2EC4B6;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    text-align: center;
    align-items: center;
}

.personalBests {
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
}

.pb {
    white-space: nowrap;
}

.pbTitle {
    font-size: smaller;
    text-align: center;
}

.pbTime {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}

.edit-events-button {
    background-color: #2EC4B6;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .edit-events-button:hover {
    background-color: #1b9d85;
  }
  