.Detail {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    height: 300px;
    /*width: 300px;*/
    background-color: #121212;
    padding: 20px;
    border-left: #FFB044 solid 2px;
    border-right: #FFB044 solid 2px;
    border-top: #FB596D solid 2px;
    border-bottom: #FB596D solid 2px;
    border-radius: 2px;
  }
  
  
  
  .Detail.active {
    display: block;
  }
  

.close-button {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    padding: 5px 10px;
    border: #FDFFFC solid 1px;
    border-radius: 3px;
    background-color: #001524;
    color: #FDFFFC;
    cursor: pointer;
  }
  
  /* Add :hover styles for better user experience */
  .close-button:hover {
    background-color: #FDFFFC; /* Darker red on hover */
    color: #001524;
}

  .visualization {
    margin-top: 20px;
  }