
  
  .face {
    position: absolute;
    width: 33px; /* Adjust based on your SVG size */
    height: 33px; /* Adjust based on your SVG size */
  }
  
  .topFace, .leftFace, .rightFace svg {
    width: 100px;
    height: 100px;
    
  }
  
  .leftFace {
    transform: skewY(30deg);
  }
  
  .rightFace {
    transform: skewY(-30deg) scaleY(1) scaleX(.93); /*7: Y 1.0 x .95*/
  
  }
  
  .topFace {
    transform: rotate(60deg) skewY(-30deg) scaleY(1.10);
    
  }
