/* navigation.css */

.Navigation {
  width: 70px;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: white;
  z-index: 1;
}

.Navigation ul {
  list-style-type: none;
  padding: 0;
  margin-top: 70px; /* Space from top including logo */
  width: 100%;
}

.Navigation li {
  padding: 20px;
}

.Navigation a {
  color: white;
  text-decoration: none;
}

.logo {
  max-width: 55px;
  margin-top: 10px;
}

.profile, .stats, .social, .settings {
  max-width: 30px;
  display: block;
  margin: 10px 0;
  cursor: pointer;
}

button.sign-in-button {
  background-color: transparent;
  border: solid #FFFFFF 2px;
  border-radius: 8px;
  color: #FFFFFF;
  opacity: 50%;
  width: 60px;
  margin-top: 15px;
}

button.sign-in-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.bottom-icons {
  margin-top: auto; /* Push this section to the bottom */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.settings {
  margin-top: 10px;
}

.nav-icon {
  display: inline-block; /* Ensure it behaves as a block */
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out; /* Smooth transition */
}

.nav-icon:hover {
  transform: scale(1.05); /* Moves the element 5px upwards */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow for a lifting effect */
}

