/* navigation.css */

.Navigation {
  width: 70px; 
  position: fixed;
  left: 0; 
  top: 0;
  bottom: 0; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  background-color: transparent; 
  color: white; 
  z-index: 1; 
}

.Navigation ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin-top: 70px; /* Space from top including logo */
  width: 100%; /* Full width of the Navigation bar */
}

.Navigation li {
  padding: 20px; /* Add some padding around each list item */
}

.Navigation a {
  color: white; /* Make links white */
  text-decoration: none; /* Remove underlines from links */
}

.logo {
  max-width: 90px; /* Adjust as necessary for your design */
  margin-left: 8px;
}

/* Icons should inherit position from the ul */
.profile, .stats, .social, .settings {
  max-width: 30px;
  display: block; /* To prevent inline default space */
  margin: 10px 0; /* Spacing between icons */
  cursor: pointer;
}

