/* TimeItem.css */
.time-item {
    margin: 5px; /* Adjust margins as needed */
    padding: 5px; /* Adjust padding as needed */
    cursor: pointer; /* Indicates the item is clickable */
    flex: 0 0 calc(100% / 12 - 10px); /* Start with 12 items per row */
    text-align: center; /* Center text within the item */
    background-color: transparent;
    
  }

  /* TimeItem.css */
.time-item {
  position: relative;
  
  
  display: inline-block;
}

.TimeItem {
  position: relative; /* Needed to position the delete button absolutely */
  padding: 5px; /* Adjust padding as needed */
}

.TimeItem {
  display: inline-block; /* Ensure it behaves as a block */
  /*transition: transform 0.1s ease-out, box-shadow 0.1s ease-out; /* Smooth transition */
  z-index: 10;
}

.TimeItem:hover {
  transform: translateY(-2px); /* Moves the element 5px upwards */
  /*box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow for a lifting effect */
}

.delete-icon {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 0;
  right: 0;
  border: none;
  background: #FB596D;
  border-radius: 100%;
  color: white;
  cursor: pointer;
  display: none;
  margin-right: -5px;
  margin-top: -5px;
  overflow: auto;
  font-size: 10pt;
  font-weight: 100;
}

.TimeItem:hover .delete-icon {
  display: block;
}

.TimeItem:hover  {
  cursor: pointer;
}

  .TimeItem {
    opacity: 50%;
  }

  .dashed-border-max {
    border: 2px dashed #FF0000 !important; /* Example: orange dashed border */
  }

  .dashed-border-min {
    border: 2px dashed #00FF00 !important; /* Example: orange dashed border */
  }

  .overall-border-max {
    border: 2px solid #FF0000 !important; /* Example: orange dashed border */
  }

  .overall-border-min {
    border: 2px solid #00FF00 !important; /* Example: orange dashed border */
  }
  
  .current-five {
    opacity: 100%;
  }

  .fastest {
    border: 2px dashed #00FF00 !important;
  }

  .faster {
    border: 2px solid #9ACD32 !important;
  }

  .middle-fast {
    border: 2px solid #FFFF00 !important; 
  }

  .slower {
    border: 2px solid #FFA500 !important; 
  }

  .slowest {
    border: 2px dashed #FF0000 !important;
  }
  
  .not-current-five {
    opacity: 50%;
  }
  
  /* For smaller screens, adjust to 5 items per row */
  @media (max-width: 767px) {
    .time-item {
      flex: 0 0 calc(100% / 5 - 10px); /* Adjust width calculation as per margin/padding */
    }
  }
  