/* TimeList.css */
.time-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; /* This ensures that the container takes at least the full viewport height */
}

/* TimeList.css */
.time-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; /* This ensures that the container takes at least the full viewport height */
}

.TimeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: left; /* This will center the items in the list */
  padding: 0;
  margin: 0;
  list-style-type: none; /* If you were using a list, this would remove bullets */
}

.TimeItem {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  flex: 0 0 calc(100% / 12 - 10px); /* For 12 items per row */
  text-align: center;
  /* Additional styling as needed */
}

/* For smaller screens, adjust to 5 items per row */
@media (max-width: 767px) {
  .TimeItem {
    flex: 0 0 calc(100% / 5 - 10px); /* For 5 items per row */
  }
}


.TimeItem {
  padding: 5px;
  cursor: pointer;
  flex: 0 0 calc(100% / 12 - 10px); /* For 12 items per row */
  text-align: center;
  /* Additional styling as needed */
}

/* For smaller screens, adjust to 5 items per row */
@media (max-width: 767px) {
  .TimeItem {
    flex: 0 0 calc(100% / 5 - 10px); /* For 5 items per row */
  }
}
