/* TimeList.css */
.time-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.averages-display {
  text-align: left; /* Align the text to the left */
  color: #FDFFFC; /* White text for readability */
  padding: 10px 0; /* Add some padding above and below the averages */
 /* Match the width of the TimeList table */
  box-sizing: border-box; /* Include padding in the width calculation */
  margin-right: 40%; /* Align the container to the center */
  font-family: 'Jost', sans-serif;
  font-weight: bold;
}

.highlight {
  background-color: #ffff99; /* Or any highlight color you prefer */
}

.TimeList {
  width: 100%; /* Adjust the width as necessary */
  max-width: 1000px; /* Set a maximum width */
  table-layout: fixed;
  border-collapse: collapse;
}

.TimeList tbody {
  display: block;
  overflow-y: scroll;
}

.TimeList tr {
  display: grid;
  grid-template-columns: repeat(12, 1fr) auto; /* 12 columns for solves + 1 for average */
  width: 100%;
}

.TimeList td {
  padding: 5px;
  text-align: center;
  border: 1px solid #50B6FF;
  border-radius: 5px;
  margin: 3px;
}

.TimeList td:nth-child(13) {
  background-color: #2EC4B6; /* Different background for the average column */
}



/* TimeList.css */
.scramble-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.scramble-popup-content {
  background: black;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  text-align: center;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}



/* For smaller screens */
@media (max-width: 1100px) {
  .TimeList tr {
    grid-template-columns: repeat(5, 1fr) auto; /* 5 columns for solves + 1 for average */
  }

  .TimeList {
    width: 600px;
  }

  .TimeList td:nth-child(6) {
    background-color: #2EC4B6; /* Different background for the average column */
  }
}