.App {
  display: flex;
  height: 100vh;
  background-color: #001524;
  color: white;
}

body {
  font-family: 'Jost', sans-serif;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.timer-display {
  text-align: right;
  font-family: 'Droid Sans Mono', monospace;
}

.Timer {
  z-index: 10;
  font-size: 96pt;
}

.Scramble {
  position: absolute;
  top: 20px;
  text-align: center;
  width: 100%;
}

/* Scramble.css */
.scramble-text {
  font-size: 24pt;
}


.TimeList {
  position: absolute;
  bottom: 50px;
  text-align: center;
  width: 100%;
}

.Detail {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  /*width: 300px;*/
  background-color: #1f1f1f;
  padding: 20px;
}



.Detail.active {
  display: block;
}
