.App {
  display: flex;
  height: 100vh;
  background-color: #0E171D;
  color: white;
}

body {
  font-family: 'Jost', sans-serif;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.timer-display {
  text-align: right;
  font-family: 'Droid Sans Mono', monospace;
}

.Timer {
  z-index: 10;
  font-size: 96pt;
}

.cube {
  position: fixed;
  right: 160px;
  top: 80px;
}

.profileCube {
  position: fixed;
  left: 160px;
  top: 80px;
}

.music-player-mode .cube {
  top: 90%;
  right: 100px;
  z-index: 3;
}

.event-select {
  margin-right: 0px; /* Add some space between the select and the SVG */
  position: fixed;
  font-weight: 500;
  font-size: 16pt;
  left: 100px;
  top: 6px;
}

.music-player-mode .event-select {
  top: 85%;
  left: 250px;
  z-index: 3;
  background-color: #121212;
}

.scramble-text {
  display: inline-block; /* Add this to allow max-width to work properly */
  font-size: 20pt;
  max-width: 50%; /* Adjust this value as needed */
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

select {
  border: #FDFFFC solid 1px;
  border-radius: 3px;
  padding: 3px;
  width: 100px;
  height: 35px;
  background-color: #001524;
  color: #FDFFFC;
  margin-top: 20px;
  margin-bottom: 10px;
}

.TimeList {
  text-align: center;
  width: 100%;
}

.music-player-mode .content {
  /* Your styles for the new page content above the player */
}

.music-player-mode .player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 15px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: #121212;
  border-top: 1px solid yellow;
  height: 15%;
  z-index: 2;
}

.music-player-mode .Timer {
  font-size: 40pt; /* Adjust as needed */
  /* Add any additional positioning styles if needed */
  margin-right: 20px;
}

.music-player-mode .scramble-text {
  font-size: 8pt; /* Adjust font size */
  max-width: 100%; /* Adjust width as needed */
  /* Update positioning if needed */
  top: 79%;
  position: fixed;
  z-index: 3;
}

.music-player-mode .TimeList {
  width: 100%; /* Adjust width as needed */
  /* Add any additional styles for TimeList in music player mode */
  margin-right: 50px;
}

.music-player-mode .time-list-container {
  margin-top: 90px; /* Adjust top margin */
  /* Add any additional styles for time list container in music player mode */
}

/* Ensure the table and its content adjust correctly */
.music-player-mode .TimeList table {
  width: 100%; /* Table width should be 100% of TimeList width */
}

.music-player-mode .TimeList td {
  /* Adjust table cell styles if needed */
}

.Page {
  margin-left: 100px;
}

